@import url("./Necessary-Classes.css");

.form-box {
  margin-top: 100px;
  min-width: 450px;
  border-radius: 15px;
  padding: 10px 50px;
}
.input-box {
  width: 100%;
  padding: 15px 25px;
  font-size: medium;
  color: rgb(0, 0, 0);
}
/* Namv bar */
.nav-bar {
  background-color: #121214;
  justify-content: flex-start;
}
.create-acc-link {
  background-color: var(--primary-color);
}
