@import url("./Necessary-Classes.css");

.login-box {
  min-width: 350px;
  min-height: 470px;
  border-radius: 15px;
  padding: 10px 40px;
  position: relative;
}
.input-box {
  width: 100%;
  padding: 15px 25px;
  font-size: medium;
  color: rgb(0, 0, 0);
}
/* Namv bar */
.nav-bar {
  background-color: #121214;
  justify-content: flex-start;
}
.create-acc-link {
  background-color: var(--primary-color);
}
.space-btn {
  display: flex;
  justify-content: space-between;
}
.profile_foot {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.avtar_height {
  max-height: 500px;
}

/* ***********************************User_account_Profile******************* */

.user_account_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media screen and (max-width: 1000px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }
  .user_account_form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .min_coln_flex {
    display: flex;
    flex-direction: column;
  }
}
/* **************Wishlist CSS */
.wishlist_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
/* .container {
  position: relative;
  opacity: 0.33;
} */
.out-of-stock {
  position: absolute;
  top: 50%;
}
