* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
aside {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 5px 10px;
  min-width: 270px;
}
@media screen and (max-width: 800px) {
  * {
    font-size: medium;
  }
}
input {
  color: black;
}
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-backgroundColor);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondry-backgroundColor);
  border-radius: 10px;
}
